canvas {
    display: block;
    margin: 0 auto;
    background: skyblue;
    border: 2px solid #000;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    flex-direction: column;
}

#startScreen h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#startScreen p {
    font-size: 18px;
}

#startButton {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #45a049;
}

#joystickContainer {
    position: absolute;
    left: 100px;    /* Cerca del borde izquierdo */
    bottom: 100px; /* Más cerca de la parte inferior */
    width: 150px;
    height: 150px;
    z-index: 10;
}
  
  #shootButton {
    position: absolute;
    left: 1100px;   /* A la izquierda */
    top: 500px;   /* Un poco más abajo que el joystick */
    padding: 5px 5px;
    background-color: gray;  /* Fondo gris */
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
  }
  
  #shootButton:hover {
    background-color: darkgray;  /* Fondo más oscuro al pasar el ratón */
  }


#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    flex-direction: column;
}

#gameOverScreen h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#gameOverScreen button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    #joystickContainer {
        left: 30px;  /* Más cerca del borde izquierdo */
        bottom: 80px; /* Ajustado un poco más arriba */
    }

    #shootButton {
        right: 30px;  /* Más cerca del borde derecho */
        bottom: 80px;  /* Ajustado un poco más arriba */
        font-size: 14px;
        padding: 8px 15px;
    }
  }
  
  /* Estilo para pantallas aún más pequeñas (móviles) */
  @media screen and (max-width: 480px) {
    #joystickContainer {
      left: 100px;  /* Más cerca del borde izquierdo */
      bottom: 100px;  /* Ajustado más arriba */
    }
  
    #shootButton {
      left: 300px;   /* A la izquierda */
      top: 800px;   /* Ajustado más arriba */
      font-size: 20px; /* Aún más pequeño */
      padding: 6px 10px;  /* Aún más pequeño */
    }
  }